@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* h1 text */
  .head-text {
    @apply text-3xl  text-center;
  }

  /* h2 text */
  .head-text-2 {
    @apply font-bold text-lg text-center;
  }

  /* h3 text */
  .head-text3 {
    @apply text-xl font-bold text-white mb-4 text-center;
  }

  .button {
    @apply bg-yellow-400 rounded-lg text-black px-4 py-2
  }

  .admin-input {
    @apply w-full max-w-[800px] rounded-md border border-slate-300 p-2
  }

}